mixin nav(showSearch, user_info, new_link)
  nav.navbar.navbar-expand-md.navbar-dark.w-100.hideable.pt-sm-1.pt-0(style='height: 15%;')&attributes(attributes)
    .container-fluid.h-100
      a.navbar-brand(href="/" ref="nav-logo").m-0
        img#page-header-logo(title="Homepage" src='/assets/icons/logo.png', style="width: 4rem;").h-100.img-fluid

      .button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navmenu")
        span.navbar-toggler-icon

      .collapse.navbar-collapse(id="navmenu").justify-content-between.search-box-wrapper
        input#search-box.ms-sm-1.autocomplete_hack(type="text", placeholder=__("search_placeholder"), autocomplete="off" ref="search-box" style={ visibility: showSearch ? 'visible' : 'hidden' })

        ul.navbar-nav.align-items-center
          li.nav-item.d-block.d-md-none
            a.nav-link(href="/") #{__("user_popup_home")}

          if user_info
            li.nav-item
              a.nav-link(href="/upload" title=__("upload"))
                svg.icon.d-none.d-md-block(xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewbox='0 0 24 24' stroke-width='1.5' stroke='#fff' fill='none' stroke-linecap='round' stroke-linejoin='round')
                  path(stroke='none' d='M0 0h24v24H0z' fill='none')
                  line(x1='12' y1='5' x2='12' y2='19')
                  line(x1='5' y1='12' x2='19' y2='12')

                p.d-md-none #{__("upload")}
          else
            li.nav-item
              a.nav-link(href="/login") #{__("user_popup_login")}
            li.nav-item
              a.nav-link(href="/register") #{__("user_popup_register")}

          .dropstart.d-none.d-md-block.px-3(style="cursor: pointer;").align-self-center
            if user_info
              img.user-avatar.dropdown-toggle.rounded-circle(title=__("user_popup_tooltip") data-bs-toggle="dropdown" style="height: 2.5rem; width: 2.5rem; object-fit: cover;" src=user_info.avatar_url)
            else
              svg.dropdown-toggle.icon.icon-tabler.icon-tabler-menu-2(title=__("user_popup_tooltip") data-bs-toggle="dropdown" xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewbox='0 0 24 24' stroke-width='1.5' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
                path(stroke='none' d='M0 0h24v24H0z' fill='none')
                line(x1='4' y1='6' x2='20' y2='6')
                line(x1='4' y1='12' x2='20' y2='12')
                line(x1='4' y1='18' x2='20' y2='18')

            ul.dropdown-menu
              if user_info
                li
                  p(style="cursor: auto !important;").p-0.ps-2.py-2.fw-bold #{user_info.username}
                li.nav-item
                  a.nav-link(href=`/user/${user_info.username}`) #{__("user_popup_profile")}
                li.nav-item
                  a.nav-link(href=`/user/${user_info.username}/favorites`) #{__("user_popup_favorite")}
                li.nav-item
                  a.nav-link(href="/user/logout") #{__("user_popup_logout")}

                hr(style="padding-top: 1px;")

              li.nav-item
                a.nav-link(href=`/comments`) #{__("user_popup_comment")}

              li.nav-item
                a.nav-link(href="/users") #{__("user_popup_users")}

              li.nav-item
                a.nav-link(href="/preferences") #{__("user_popup_preferences")}

              if new_link
                li
                  a.nav-link(href=new_link.href) #{new_link.title}

              li
                a.nav-link(href="/about") #{__("user_popup_about")}

          if user_info
            li.nav-item.d-block.d-md-none
              a.nav-link(href=`/user/${user_info.username}`) #{__("user_popup_profile")}
            li.nav-item.d-block.d-md-none
              a.nav-link(href=`/user/${user_info.username}/favorites`) #{__("user_popup_favorite")}

            li.nav-item.d-block.d-md-none
              a.nav-link(href="/preferences") #{__("user_popup_preferences")}
            li.nav-item.d-block.d-md-none
              a.nav-link(href="/user/logout") #{__("user_popup_logout")}

            hr(style="padding-top: 1px;").w-100

          li.nav-item.d-block.d-md-none
            a.nav-link(href="/comments") #{__("user_popup_comment")}
          li.nav-item.d-block.d-md-none
            a.nav-link(href="/users") #{__("user_popup_users")}
          li.nav-item.d-block.d-md-none
            a.nav-link(href="/preferences") #{__("user_popup_preferences")}
          if new_link
            li.nav-item.d-block.d-md-none
              a.nav-link(href=new_link.href) #{new_link.title}
          li.nav-item.d-block.d-md-none
            a.nav-link(href="/about") #{__("user_popup_about")}
