button {
    background: none;

    border-bottom: none;
    border-top: none;
    border-right: none;
    border-left: none;

    outline: none;

    cursor: pointer;

    @include font-family;
    @include no-select;
    color: $text-color;

    .icon {
        max-height: 80%;
        max-width: 100%;
        object-fit: scale-down;
        display: block;
        transition: transform .2s;

        color: $text-color;
        stroke: $text-color;

        &:hover {
            @include enlarge-highlight;
        }
    }
}

.highlight-button {
    &:hover {
        @include background-highlight();
    }
}

#hidden-play-button-container {
    #hidden-play-button {
        opacity: 0;

        padding: 50px;

        // margin-right: 5px;

        z-index: 1;

        transition: opacity .2s, height .2s;

        .icon {
            height: 50px;
            filter: drop-shadow(0 15px 25px black) drop-shadow(0 15px 25px black);

            fill: $text-color;
        }

        #hidden-play-button-bg {
            display: none;
            @include center-position;
            width: 70%;
            z-index: -1;
            background-color: $darker;
            filter: blur(1px);
            height: 70%;
            border-radius: 50%;
        }

        &:hover {
            opacity: 1;
            width: auto;
        }

        &:active {
            opacity: 1;
        }
    }
}

.round-button {
    background-color: $paper-white;
    border-radius: 500px;
    color: $darker;

    text-shadow: none;
    @include font-family;

    &:hover {
        @include darken-highlight;
    }

    &:focus {
        @include darken-highlight;
    }

    &:active {
        @include darken-highlight;
    }
}

.danger-button {
    background-color: #FF0a0a;
}

.outline-button {
    background-color: $dark-transparent;
    border-style:solid;
    border-width: 1px;
}
