.footer {
    * {
        z-index: 100;
    }

    .row {
        @media only screen and (max-width: 1000px) {
            height: 100%;
        }
    }

    #song-info-container {
        #footer-thumbnail-container {
            #footer-thumbnail {
                @include no-select;

                @include drop-shadow;
                border-radius: 25%;
            }
        }

        #song-info-container-right {
            #time-counter {
                @include wrap-text-ellipsis;
                font-size: 90%;

                color: $text-secondary-color;
            }

            #playing-title {
                @include wrap-text-ellipsis;

                font-size: 90%;
                font-weight: bold;
            }
        }
    }

    #progress-bar-container {
        width: 100%;

        /* The slider itself */
        .slider {
            -webkit-appearance: none;  /* Override default CSS styles */
            appearance: none;
            width: 100%; /* Full-width */
            height: 1px; /* Specified height */
            background: #d3d3d3; /* Grey background */
            outline: none; /* Remove outline */
            opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
            -webkit-transition: .2s; /* 0.2 seconds transition on hover */
            transition: opacity .2s;
            cursor: pointer; /* Cursor on hover */
        }

        /* Mouse-over effects */
        .slider:hover {
            opacity: 1; /* Fully shown on mouse-over */
        }

        /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 15px; /* Set a specific slider handle width */
            height: 7px; /* Slider handle height */
            background: $text-color; /* Green background */
            border-radius: 15px;
            cursor: pointer; /* Cursor on hover */
        }

        .slider::-moz-range-thumb {
            width: 15px; /* Set a specific slider handle width */
            height: 5px; /* Slider handle height */
            background: $text-color; /* Green background */
            border-radius: 15px;
            cursor: pointer; /* Cursor on hover */
        }
    }
}
