nav {
    height: auto;

    .container-fluid {
        @media only screen and (max-width: 576px) {
            padding-top: 10px !important;
            padding-bottom: 5px !important;
        }

        .header-text {
            @media only screen and (max-width: 576px) {
                width: 50% !important;
                align-items: center !important;
            }
        }

        #page-header-logo {
            margin-bottom: -7px;
            @media only screen and (max-width: 576px) {
                width: 2.5rem !important;
            }
        }

        #flavor-text {
            font-size: 0.8rem;
            text-align: left;
            color: rgb(223, 223, 223);
            @include wrap-text-ellipsis;

            @media only screen and (max-width: 576px) {
                font-size: 60%;
            }
        }

        .navbar-brand:hover {
            filter:brightness(100%);
        }

        #page-header {
            margin-left: 5px;
            font-weight: bold;
            font-size: 2rem;

            white-space: nowrap;

            @media only screen and (max-width: 576px) {
                font-size: 100%;
            }
        }

        #page-header-logo {
            @include no-select;

            &.rotate {
                animation: rotate 2s;
                animation-iteration-count: infinite;
                animation-direction: reverse;
                animation-timing-function: linear;
            }
        }
    }

    .site-info {
        // display: flex;
        // flex-direction: row;
        // justify-content: flex-end;
        // align-items: center;
        // flex-wrap: wrap;

        // height: 100%;
        // min-width: 30%;
        // max-width: 30%;

        // margin-right: $side-margin;

        p {
            // height: 60%;
            // margin-left: 2vw;
            text-decoration: none;

            @include no-select;

            a {
                text-decoration: none;
            }
        }
    }
}
