.art-credit-text {
    color: $text-secondary-color !important;
    @include wrap-text-ellipsis;

    &:hover {
        filter: brightness(100%);
    }
}

#info-text {
    font-size: small;
    background-color: $dark-transparent;
    border-radius: 10px;

    #song-info-container {
        border-radius: 10px;

        #time-counter-mobile {
            background-color: $dark-transparent;
            font-size: 2vh;

            border-radius: 10px;

            white-space: nowrap;
        }
    }

    .options-menu {
        // background-color: $dark-transparent;
        @include drop-shadow;
        border-radius: 10px;
        cursor: pointer;
    }

    #playing-title-mobile {
        border-radius: 10px;

        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        background-color: $darker;

        font-size: 3vh;

        cursor: pointer;
        transition: transform .2s;

        &:hover {
            @include enlarge-highlight;
        }
    }
}
