// Mobile layout
@media only screen and (max-width: 576px) {
    #middle-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 100px;

        #video-player, #chat-window-container, .track-details {
            border-radius: 0px !important;
        }

        #comment-spacer {
            display:none !important;
        }

        .row {
            margin-left:0 !important;
            margin-right: 0 !important;
        }

        #chat-window-column {
            height: auto !important;
            aspect-ratio: 1;
        }
        #video-player-column {
            height: auto !important;
            aspect-ratio: 16/9;
        }

        #video-player-container {
            height: 100% !important;
            aspect-ratio: 16/9;
        }
    }

    html {
        overflow: visible;
        height: auto;

        body {
            height: auto;
            font-size: .8rem;
        }
    }

    #info-text {
        margin: 0 !important;
        padding: 5px;

        width: 100%;
        flex-direction: column !important;
        background-color: transparent;

        .options-menu {
            background-color: $darker;
        }

        #art-credit-text {
            white-space: normal !important;
        }

        #playing-title-mobile {
            display: block;
            max-width: 100%;
            @include drop-shadow;
            @include wrap-text-ellipsis;

            &:hover {
                @include enlarge-highlight(1.02);
            }
        }

        #song-info-container {
            display: flex;

            margin-top: 10px;
            padding: 0;

            max-width: 70%;

            #time-counter-mobile {
                text-align: center;
                display: block;
                @include drop-shadow;
            }
        }
    }

    #hidden-play-button-container {
        display: none !important;
    }

    .footer {
        background: $darker;
        @include drop-shadow;

        #footer-bg {
            display: none;
        }

        #pause-button {
            svg {
                height: 4rem;
                width: 4rem;
            }
        }

        #mobile-playing-title {
            .dropdown-toggle {
                @include wrap-text-ellipsis();
            }
        }

        position: fixed;
        width: 100%;
        height: auto !important;
        bottom: 0 !important;
        left: 50%;
        transform: translate(-50%,0%);

        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
