doctype html

include partials/uboa
include partials/nav
include partials/player
include partials/toast
include partials/loading_popup
include partials/empty_popup
include partials/head
include partials/load_more
+uboa

- var meta_title
- var meta_desc
- var meta_img
- var meta_url
- var meta_sitename
+head(meta_title)
    meta(name='description' content=meta_desc)
    // OpenGraph stuff
    meta(property='og:title' content=meta_title)
    meta(property='og:url' content=meta_url)
    meta(property='og:description' content=meta_desc)
    meta(property='og:image' content=meta_img)
    meta(property='og:type' content='music.radio_station')
    meta(property='og:locale' content='en_US')
    meta(property='og:site_name' content=meta_sitename)
    // For Twitter
    meta(name='twitter:title' content=meta_title)
    meta(name='twitter:description' content=meta_desc)
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:image' content=meta_img)

body.h-100.w-100
    +toast

    div.h-100.w-100#app
        // Put out of bounds so it can be used as a holder for clipboard text
        input#clipboard-text-holder(type='text' style='position: absolute; left: -30000000px; overflow: hidden;' ref="clipboard")

        noscript This site doesn&apos;t work without JavaScript. Please enable it.

        transition(@after-leave="preloadBG" @enter="enterBG" name="fade")
            img#bg1.wallpaper(:src="bg1_src" v-show="current_bg_index === 1" alt='')
        transition(@after-leave="preloadBG" @enter="enterBG" name="fade")
            img#bg2.wallpaper(:src="bg2_src" v-show="current_bg_index === 2" alt='')

        #particles-js

        // Dim the BG a bit
        transition(name="fade")
            .dimmer(v-show="!is_player_hidden").blur-backdrop
                pre.


        if user_info
            #playlist-modal.modal(tabindex='-1')
                  .modal-dialog.modal-dialog.scrollable
                      .modal-content
                          .modal-header
                              h5.modal-title {{ $t('message.playlist_header')}}
                              button.btn-close.btn-close-white(type='button' data-bs-dismiss='modal' aria-label='Close')
                          .modal-body
                              .container-fluid
                                  form.input-group.flex-row.align-items-center(@submit.prevent="createPlaylist").w-100
                                      .d-flex.flex-grow-1
                                          input(type="text" v-model="create_playlist_info.name" required :placeholder="$t('message.playlist_create_placeholder')" maxlength="100").w-100.p-3
                                      .d-flex.text-center.align-items-center.justify-content-center
                                          button(type="submit")
                                              svg.icon.d-block(xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewbox='0 0 24 24' stroke-width='1.5' stroke='#fff' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                                path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                                line(x1='12' y1='5' x2='12' y2='19')
                                                line(x1='5' y1='12' x2='19' y2='12')

                                  hr.my-3

                                  ul.p-0
                                      +loading_popup()(v-show="!has_fetched_playlist")
                                      +empty_popup()(v-show="user_playlists.length === 0 && has_fetched_playlist")

                                      .playlist-item.list-item.p-4.mb-3.position-relative(v-for="playlist in user_playlists" :key="playlist._id" :style="{ 'background-image': 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),' + 'url(' + (playlist.thumbnail_url ? playlist.thumbnail_url : `/assets/icons/empty.gif`) + ')' }" style="background-size: cover; background-position:center; background-repeat: no-repeat; object-fit: cover;")
                                          .d-flex.flex-row.align-items-center.justify-content-center
                                            .w-75
                                              a.text-decoration-none(data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#playlist-detail-modal" @click="openPlaylistDetail(playlist._id)").w-100.h-100
                                                  h4.fw-bold.text-start.text-truncate {{ playlist.name }}

                                              .d-flex.flex-row.align-items-center
                                                  svg.icon.icon-tabler.icon-tabler-music(xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewbox='0 0 24 24' stroke-width='0.7' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                                    path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                                    circle(cx='6' cy='17' r='3')
                                                    circle(cx='16' cy='17' r='3')
                                                    polyline(points='9 17 9 4 19 4 19 17')
                                                    line(x1='9' y1='8' x2='19' y2='8')

                                                  p.ms-2 {{ playlist.track_count }}
                                            .w-25.d-flex.align-items-center.justify-content-center.text-center
                                              button.flex-row.p-2(@click="playPlaylist(playlist)" v-show="playlist.tracks.length > 0 && !is_adding_to_playlist" data-bs-toggle="modal" data-bs-dismiss="modal")
                                                svg.icon.icon-tabler.icon-tabler-player-play(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='0.7' stroke='#ffffff' fill='#ffffff' stroke-linecap='round' stroke-linejoin='round')
                                                  path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                                  path(d='M7 4v16l13 -8z')

                                              div(v-if="is_adding_to_playlist && !playlist.is_special && Object.prototype.hasOwnProperty.call(playlist, 'can_add')")
                                                  button.flex-row.w-100.mt-2.p-2(:tooltip="$t('message.playlist_add_button')" @click="addTrackToPlaylist(current_song_info, playlist)" v-if="playlist.can_add")
                                                    svg.icon.d-block(xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewbox='0 0 24 24' stroke-width='5.5' stroke='#fff' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                                      path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                                      line(x1='12' y1='5' x2='12' y2='19')
                                                      line(x1='5' y1='12' x2='19' y2='12')
                                                  button.flex-row.w-100.mt-2.p-2.btn-close.btn-close-white(:tooltip="$t('message.playlist_remove_button')" @click="removeCurrentTrackFromPlaylist(current_song_info, playlist)" v-else)
                                              div(v-else)
                                                  button.flex-row.w-100.round-button.mt-2.p-2(@click="playPlaylist(playlist)" v-show="playlist.tracks.length > 0")
                                                      p.ms-2 {{ $t('message.playlist_play_button')}}

        #playlist-detail-modal.modal(tabindex='-1')
            .modal-dialog.modal-dialog.scrollable
                .modal-content
                    .modal-header.justify-content-start
                        if user_info
                            button(type='button' @click="togglePlaylist" data-bs-target='#playlist-modal' data-bs-toggle="modal" data-bs-dismiss="modal" aria-label='Close').me-3
                                svg.icon.icon-tabler.icon-tabler-arrow-left(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='1.5' stroke='#2c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                    path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                    line(x1='5' y1='12' x2='19' y2='12')
                                    line(x1='5' y1='12' x2='11' y2='18')
                                    line(x1='5' y1='12' x2='11' y2='6')
                        h5.modal-title.fw-bold {{ playlist_detail_info.name }}
                        button.btn-close.btn-close-white(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        .container-fluid
                            ul.p-0
                                button.round-button.danger-button.px-2.py-1(v-show="!playlist_detail_info.is_special && is_playlist_by_current_user" @click="askDeletePlaylist(playlist_detail_info)" type="button" data-bs-target="#confirm-modal" data-bs-dismiss="modal" data-bs-toggle="modal") {{ $t("message.playlist_delete_button") }}

                                hr(v-show="!playlist_detail_info.is_special && is_playlist_by_current_user")

                                +empty_popup("nothing is here...")(v-show="playlist_detail_tracks.length === 0")

                                li.list-item.p-2.mb-3.d-flex.flex-row.align-items-center(v-for="track in playlist_detail_tracks" :key="track._id")
                                    a.flex-grow-1.d-flex(:href="`?track_id=${track._id}`" target="_blank" style="text-decoration: none;" @click.prevent="playSongInPlaylist(track, playlist_detail_info)")
                                        .d-flex.flex-row.align-items-center
                                            img.user-avatar.rounded-circle.me-3.align-self-start.flex-shrink-0(style="width: 3rem; height: 3rem;" :src="track.img_src")
                                            .d-flex.flex-column
                                                p.mw-100.fw-bold {{ track.name }}
                                                p.mw-100.text-secondary {{ track.poster.username }}
                                    button.btn-close.btn-close-white(v-show="!playlist_detail_info.is_special && is_playlist_by_current_user" @click="removeTrackFromPlaylist(track, playlist_detail_info)" title="Remove from playlist")

                                +load_more()(style="display: none;" v-show="playlist_detail_tracks.length > 0 && !playlist_is_end" @click="playlistLoadMore()")

        #users-list-modal.modal(tabindex='-1')
            .modal-dialog.modal-dialog.scrollable
                .modal-content
                    .modal-header
                        h5.modal-title {{ $t('message.chat_users_header')}}
                        button.btn-close.btn-close-white(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        .container-fluid
                            ul.p-0
                                +empty_popup("no one is here...")(v-show="chat_room_users_list.length === 0")

                                li.list-item.p-2(v-for="user in chat_room_users_list" :key="user._id").mb-3
                                    a(:href="`/user/${user.username}`" target="_blank" style="text-decoration: none;")
                                        .d-flex.flex-row.align-items-center
                                            img.user-avatar.rounded-circle.me-3.align-self-start.flex-shrink-0(style="width: 3rem; height: 3rem;" :src="user.avatar_url")
                                            .d-flex.flex-column
                                                p.mw-100 {{ user.username }}

                                                p.mw-100.text-secondary(style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;") {{ user.listening_to.name }}

        #bg-picker-modal.modal(tabindex='-1')
            .modal-dialog.modal-dialog.scrollable.modal-fullscreen
                .modal-content
                    .modal-header
                        h5.modal-title.bg-picker-title {{ bg_picker_current_tab }}
                        button.btn-close.btn-close-white(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        // Games list
                        ul.nav.nav-pills.bg-picker-tab-container.mb-4
                            li.nav-item.bg-picker-nav-link(v-for="tab in bg_picker_tabs" :id="tab" @click="openBGPickerTab(tab)")
                                a.nav-link(:class="{ active: bg_picker_current_tab === tab }") {{ tab }}

                        .container-fluid
                            // Background art grid
                            .row.bg-picker-art-container
                                +loading_popup()(v-show="bg_picker_images_list.length === 0")
                                button.d-flex.flex-column.col-4.col-sm-3.bg-picker-art.mb-3.text-center(style="max-height: 25rem;" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#bg-picker-detail-modal" v-show="all_bg_info !== undefined" v-for="(image, index) in bg_picker_images_list" :id="`image-${index}`" @click="openBGDetailModal(image.full_content, image.game_name, image.artist_name)")
                                    div.position-relative(style="max-height:80%").w-100
                                        img.bg-picker-thumbnail(style="object-fit: cover; max-height: 100%; width: 100%;" :src="image.full_thumbnail" loading="lazy")

                                        // Animation type icon
                                        svg.rounded.card-background.bg-picker-type-icon.position-absolute.bottom-0.start-0.ms-2.mb-2(v-show="image.art_type === 'animation'" xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 24 24' stroke-width='1.5' stroke='#2c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                            rect(x='4' y='4' width='16' height='16' rx='2')
                                            line(x1='8' y1='4' x2='8' y2='20')
                                            line(x1='16' y1='4' x2='16' y2='20')
                                            line(x1='4' y1='8' x2='8' y2='8')
                                            line(x1='4' y1='16' x2='8' y2='16')
                                            line(x1='4' y1='12' x2='20' y2='12')
                                            line(x1='16' y1='8' x2='20' y2='8')
                                            line(x1='16' y1='16' x2='20' y2='16')

                                    p.bg-picker-credit {{ image.artist_name }}

                                +load_more()(style="display: none;" v-show="bg_picker_images_list.length > 0 && !bg_picker_is_end" @click="populateBGPickerGrid(bg_picker_current_tab)")

        confirm-modal(ref="confirm")

        #bg-picker-detail-modal.modal(tabindex='-1')
            .modal-dialog.modal-fullscreen
                .modal-content
                    .modal-header.justify-content-start
                        button(@click="exitBGDetailModal" type='button' data-bs-target='#bg-picker-modal' data-bs-toggle="modal" data-bs-dismiss="modal" aria-label='Close').me-3
                            svg.icon.icon-tabler.icon-tabler-arrow-left(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='1.5' stroke='#2c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                line(x1='5' y1='12' x2='19' y2='12')
                                line(x1='5' y1='12' x2='11' y2='18')
                                line(x1='5' y1='12' x2='11' y2='6')

                        h5.modal-title {{ $t('message.art_credit', {game:bg_picker_detail_info.game_name, artist:bg_picker_detail_info.artist_name})}}
                    .modal-body
                        .container-fluid.p-3
                            .row
                                div.col-md-5
                                    button(@click="showBG(bg_picker_detail_info.url, bg_picker_detail_info.game_name, bg_picker_detail_info.artist_name)").bg-picker-detail-set-button.d-flex.flex-row.justify-content-start.align-items-center.mb-2.highlight-button.w-100.p-3.rounded
                                        svg.icon-tabler.icon-tabler-photo(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 24 24' stroke-width='1.5' stroke='#fff' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                            line(x1='15' y1='8' x2='15.01' y2='8')
                                            rect(x='4' y='4' width='16' height='16' rx='3')
                                            path(d='M4 15l4 -4a3 5 0 0 1 3 0l5 5')
                                            path(d='M14 14l1 -1a3 5 0 0 1 3 0l2 2')
                                        p.ms-3.text-start {{ $t('message.bg_picker_set_as_bg') }}

                                    a(:href="bg_picker_detail_info.url" target="_blank" style="text-decoration: none;").bg-picker-detail-download-button.d-flex.flex-row.justify-content-start.align-items-center.highlight-button.w-100.p-3.rounded
                                        svg.icon-tabler.icon-tabler-download(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 24 24' stroke-width='1.5' stroke='#fff' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                            path(d='M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2')
                                            polyline(points='7 11 12 16 17 11')
                                            line(x1='12' y1='4' x2='12' y2='16')
                                        p.ms-3.text-start {{ $t('message.bg_picker_download') }}

                                img.mt-3.mt-md-0.col-md-7(:src="bg_picker_detail_info.url", alt="placeholder img", style="object-fit: contain;").mw-100.mh-100

        .container-fluid.p-0
            -var user_info
            +nav(true, user_info, {
                title: `${__("user_popup_hotkeys")}`,
                href: "/hotkeys"
            }, false)(v-show="!is_player_hidden")

            #info-text.position-absolute.top-0.start-0.flex-row(v-show="is_player_hidden" style="display:none;").ms-2.mt-2
                .d-flex.flex-row.justify-content-between.align-items-center.w-100.h-50
                    .options-menu.dropdown.text-center.p-2
                        svg.dropdown-toggle.icon.icon-tabler.icon-tabler-menu-2(data-bs-toggle="dropdown" xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewbox='0 0 24 24' stroke-width='1.5' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                            line(x1='4' y1='6' x2='20' y2='6')
                            line(x1='4' y1='12' x2='20' y2='12')
                            line(x1='4' y1='18' x2='20' y2='18')

                        ul.dropdown-menu
                            li
                                p#art-credit-text.art-credit-text.dropdown-header(style="cursor: auto !important;") {{ $t('message.art_credit', {artist: bg_artist_name, game: bg_game_name })}}
                            if use_szurubooru_content
                              li
                                  a.dropdown-item.change-bg-button(@click="showNextBG")
                                      .d-flex.flex-row.align-items-center.justify-content-start
                                          svg.icon.icon-tabler.icon-tabler-refresh( :class="{ rotate: is_bg_change_locked }" xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 24 24' stroke-width='0.7' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                              path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                              path(d='M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4')
                                              path(d='M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4')
                                          p {{ $t('message.random_bg')}}
                              li
                                  a.dropdown-item.pick-bg-button(ref="pick-bg-button" @click="initAllBGInfo" data-bs-toggle="modal", data-bs-target="#bg-picker-modal")
                                      .d-flex.flex-row.align-items-center.justify-content-start
                                          svg.icon.icon-tabler.icon-tabler-photo(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 24 24' stroke-width='1.5' stroke='#2c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                              path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                              line(x1='15' y1='8' x2='15.01' y2='8')
                                              rect(x='4' y='4' width='16' height='16' rx='3')
                                              path(d='M4 15l4 -4a3 5 0 0 1 3 0l5 5')
                                              path(d='M14 14l1 -1a3 5 0 0 1 3 0l2 2')

                                          p {{ $t('message.pick_bg')}}

            #middle-container.container-fluid.mt-3.hideable.px-4.px-md-5.h-auto.main-content(v-show="!is_player_hidden")
                .row.gy-3.gy-md-0
                    #video-player-column.col-12.col-lg-7.d-flex.flex-column.p-0
                        +loading_popup()(v-show="!current_song_info.name")
                        #video-player-container.w-100.ratio.ratio-16x9(style="height: 70vh;" v-show="current_song_info.name")
                            #video-player.rounded

                    #chat-window-column.col-12.col-lg-5(style="height: 70vh;").p-0.ps-lg-3
                        #chat-window-container.w-100.d-flex.flex-column.px-3.h-100.rounded
                            #chat-window-header.mx-0.px-0.d-flex.flex-column.w-100.align-self-start.mt-3
                                #chat-window-header-info-container.d-inline-flex.flex-row.px-0.align-items-center.justify-content-between.mb-3
                                    a.text-reset#chat-window-header-listener-count(data-bs-toggle="modal" data-bs-target="#users-list-modal"  :title="`${anonymous_count > 0 ? anonymous_count + ' anonymous listener' : ''}${anonymous_count>1? 's' :''}`") {{ $t("message.listener_count", { count: listener_count } )}}

                                    div
                                        button#chat-window-header-join-button.h-auto.px-3.py-1.round-button(v-if="!is_logged_into_chat" @click="joinChatRoom") {{ $t('message.chat_join_button' )}}
                                        button.h-auto.px-3.py-1.outline-button.rounded-pill.text-secondary(v-else @click="leaveChatRoom") {{ $t('message.chat_leave_button') }}

                                        button#chat-window-header-expand-button.pe-0.flex-shrink-0(:style="{ transform: is_chat_detail_collapsed ? 'scaleY(-1)' : 'scaleY(1)' }" style='width: 3rem; transition: transform .2s ease-in;' type="button" @click="is_chat_detail_collapsed = !is_chat_detail_collapsed" data-bs-toggle="collapse" data-bs-target="#chat-header-detail")
                                            svg(viewbox='-2.5 -5 75 60' preserveaspectratio='none')
                                                path(d='M0,0 l35,50 l35,-50' stroke-linecap='round' stroke-width='5')

                                #chat-header-detail.collapse
                                    #popular-song-info-container-chat-header.text-left.mb-2(v-if="popular_song_info.name !== undefined && popular_song_info.listeners.length > 0")
                                        p#popular-song-link-chat-header.popular-song-link.clickable-text(:title="$t('message.popular_track_play_tooltip', {name: popular_song_info.name})" @click="playPopularSong").d-inline {{ $t('message.popular_track_info', {count:popular_song_info.listeners.length, name: popular_song_info.name})}}

                                    p(v-else).text-tertiary play something and it will show here!

                                    .pb-3

                            // Can't use justify-content-end here because of a bug that will disable overflow scroll. life is hard
                            #message-area.d-flex.flex-column-reverse.w-100.flex-grow-1.my-2(ref="chat-message-window")
                                .d-flex.flex-row.message-container(v-for="(message, index) in messages_list" :id="`message-${index}`" :class="{ 'mt-3': !message.is_collapsed }").w-100
                                    img.user-avatar.rounded-circle.me-3.flex-shrink-0(:style="{ visibility: message.is_collapsed ? 'hidden' : 'visible', height: message.is_collapsed ? '1px' : '2rem' }" style="margin-top: 5px; width: 2rem;" v-show="message.type ==='user'" :src="message.user ? message.user.avatar_url : '/data/avatars/default/default.png'")
                                    .d-flex.flex-column.me-2
                                        p.message-username(v-show="message.user && message.type === 'user' && !message.is_collapsed") {{ message.user ? message.user.username : "" }}
                                        p.message-text(:class="{ 'message-system': message.type === 'system'}") {{ message.text }}
                                +empty_popup()(v-show="messages_list.length === 0")

                            #message-input-area.w-100.align-self-end(style='max-height: 10%;').mb-3.pt-2
                                form.input-group.w-100.h-100.d-flex.flex-row.align-items-center(@submit.prevent="sendMessage('user', user_info_binding, 'chat_send_message', {message: chat_input_text})")
                                    input#chat-input.form-control.h-100.ps-3.py-3.flex-grow-1.me-2.rounded-pill(v-model="chat_input_text" :placeholder="$t('message.chat_placeholder')" required type='text' autocomplete='off')
                                    button(type="submit" :title="$t('message.chat_send_button_tooltip')")
                                        svg.icon(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 24 24' stroke-width='1.5' stroke='#2c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                            line(x1='10' y1='14' x2='21' y2='3')
                                            path(d='M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5')

                    .col-12.col-lg-7.p-0
                        .track-details.flex-column.d-flex.w-100.h-auto.p-4.card-background
                            .row.d-flex.flex-column.flex-md-row.mb-4.gy-4.align-items-start
                                .col-12.col-sm-7
                                    .d-flex.flex-row.align-items-center
                                        h4.fw-bold(v-show="!is_editing_song") {{ current_song_info.name }}

                                        form.input-group.flex-column(@submit.prevent="finishEditTrack" v-show="is_editing_song").w-100
                                            label(for="#edit-track-name")
                                              h3 {{ $t("message.edit_name_header")}}
                                            .w-100
                                              input(type="text" v-model="edit_data.name" required :placeholder="$t('message.edit_name_header')" id="edit-track-name").w-75.p-3

                                            label.mt-4(for="#edit-track-description")
                                              h3 {{ $t("message.edit_description_header") }}
                                            .w-100
                                              textarea(id="#edit-track-description" v-model="edit_data.description" :placeholder="$t('message.edit_description_header')" resize="both" maxlength="2000" rows="10").w-100

                                            label.mt-4(for="#edit-track-thumbnail")
                                              h3 {{ $t("message.edit_thumbnail_header") }}
                                            .w-100
                                              input(type="text" v-model="edit_data.img_src" required :placeholder="$t('message.edit_thumbnail_header')" id="edit-track-thumbnail").w-100.p-3

                                            label.mt-4(for="#edit-track-thumbnail-wide")
                                              h3 {{ $t("message.edit_wide_thumbnail_header") }}
                                            .w-100
                                              input(type="text" v-model="edit_data.img_src_wide" required :placeholder="$t('message.edit_wide_thumbnail_header')" id="edit-track-thumbnail-wide").w-100.p-3

                                            label.mt-4(for="#edit-track-path")
                                              h3 {{ $t("message.edit_path_header") }}
                                            .w-100
                                              input(type="text" v-model="edit_data.path" required :placeholder="$t('message.edit_path_header')" id="edit-track-path").w-100.p-3

                                            .d-flex.flex-row.mt-4
                                              button.round-button.danger-button.px-2.py-1(@click="askDeleteTrack(current_song_info)" type="button" data-bs-target="#confirm-modal" data-bs-dismiss="modal" data-bs-toggle="modal") {{ $t("message.edit_delete_track") }}

                                            .d-flex.flex-row.justify-content-end.align-items-center.mt-4
                                              button.round-button.px-2.py-1.me-3(@click="is_editing_song = false" type="button") {{ $t("message.cancel") }}
                                              button.round-button.px-2.py-1(type="submit") {{ $t("message.save" )}}

                                    .flex-row.mt-4(:style = "{ display: is_editing_song ? 'none' : 'flex'  }")
                                        a(:href="`/user/${current_song_info.poster.username}`")
                                            img.user-avatar.rounded-circle.me-3.flex-shrink-0(style="margin-top: 5px; width: 3rem; height: 3rem; flex-shrink: 0;" :src="current_song_info.poster.avatar_url")
                                        .d-flex.flex-column
                                            a.text-decoration-none(:href="`/user/${current_song_info.poster.username}`")
                                                p.fw-bold {{ current_song_info.poster.username }}
                                            p.text-secondary(:title="current_song_info.upload_time") {{ $t('message.track_poster_post_time', { time: getCurrentTrackUploadDate })}}


                                .col-12.col-sm-5.justify-content-end.flex-row(:style = "{ display: is_editing_song ? 'none' : 'flex'  }")
                                    button(@click="addTrackToFavorites(current_song_info)" :title="$t('message.favorite_button_tooltip')").me-3
                                        .d-flex.flex-row.align-items-center.justify-content-start
                                            .d-flex.flex-row.align-items-center(v-if="!isCurrentTrackFavorited")
                                                svg.icon.icon-tabler.icon-tabler-heart(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='1.5' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                                    path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                                    path(d='M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572')
                                            .d-flex.flex-row.align-items-center(v-else)
                                                svg.icon.icon-tabler.icon-tabler-heart(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='1.5' stroke='#ffffff' fill='#fff' stroke-linecap='round' stroke-linejoin='round')
                                                    path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                                    path(d='M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572')
                                            p.ms-2.mono-font {{ current_song_info.favorites.length }}
                                    button(@click="copyCurrentTrackURL" :title="$t('message.share_button_tooltip')")
                                        .d-flex.flex-row.align-items-center.justify-content-start
                                            svg.icon.icon-tabler.icon-tabler-share(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='1.5' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                                path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                                circle(cx='6' cy='12' r='3')
                                                circle(cx='18' cy='6' r='3')
                                                circle(cx='18' cy='18' r='3')
                                                line(x1='8.7' y1='10.7' x2='15.3' y2='7.3')
                                                line(x1='8.7' y1='13.3' x2='15.3' y2='16.7')

                                    if user_info
                                        button(@click="startEditTrack" v-show="(current_song_info.poster._id === user_info_binding._id || user_info_binding.rank === 'admin') && !is_editing_song" :title="$t('message.edit_button_tooltip')").ms-3
                                            svg.icon.icon-tabler.icon-tabler-edit.text-secondary(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='1.5' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                              path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                              path(d='M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3')
                                              path(d='M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3')
                                              line(x1='16' y1='5' x2='19' y2='8')

                                        button(@click="startAddToPlaylist" :title="$t('message.playlist_button_tooltip')" data-bs-toggle="modal" data-bs-target="#playlist-modal" data-bs-dismiss="modal").ms-3
                                            svg.icon.icon-tabler.icon-tabler-playlist(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='1.5' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                              path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                              circle(cx='14' cy='17' r='3')
                                              path(d='M17 17v-13h4')
                                              path(d='M13 5h-10')
                                              line(x1='3' y1='9' x2='13' y2='9')
                                              path(d='M9 13h-6')

                            pre(v-show="!is_editing_song") {{ current_song_info.description }}

                            hr

                            h3.fw-bold.mb-4 {{ $t('message.comment_counter', { count: current_song_info.comments.length }) }}

                            if user_info
                                form.input-group.flex-column.d-flex.mb-5(@submit.prevent="comment")
                                    textarea.form-control.w-100.upload-input.rounded(required id="comment_input" @focus="commentInputFocus" @blur="commentInputBlur" v-model="comment_input" type="text" :placeholder="$t('message.comment_box_placeholder')")
                                    div.mt-3.justify-content-end.d-flex
                                        button.px-2.py-1.round-button(type="submit") {{ $t('message.comment_button' )}}

                            +empty_popup()(v-show="current_song_info.comments.length === 0").pb-5
                            comment-item.mb-5.w-100(v-for="comment in current_song_info.comments.slice().reverse()" :id="comment._id" :username="comment.user.username" :href="`/user/${comment.user.username}`" :avatar_url="comment.user.avatar_url" :content="comment.content" :timestamp="comment.timestamp")

                        div#comment-spacer(style="height: 300px;")

                    .col-12.col-lg-5.flex-column
                        .d-flex.flex-row.align-items-center.my-4.mx-1
                            h4.fw-bold {{ $t('message.related_tracks') }}
                            button(@click="updateRelatedTracks" title="Refresh this list")
                                svg.icon.mb-1(xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewbox='0 0 24 24' stroke-width='0.7' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                    path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                    path(d='M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4')
                                    path(d='M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4')
                        .row.mx-1.gy-4
                            +loading_popup()(v-show="related_tracks.length === 0")

                            track-item.col-6.col-md-6.col-lg-6.col-xxl-6(@click.prevent="playRelatedTrack(index)" v-for="(upload,index) in related_tracks" :key="upload._id" :title="`${upload.name}`" :href=("`?track_id=${upload._id}`") :img_src="upload.img_src" :favorites_count="upload.favorites.length" :comments_count="upload.comments.length" :poster="upload.poster" :upload_time="upload.upload_time" :show_avatar="false")

                        .d-flex.flex-row.align-items-center.my-4.mx-1#playlists
                            h4.fw-bold {{ $t('message.related_playlists') }}
                        .row.mx-1.gy-4
                            +loading_popup()(v-show="related_playlists.length === 0 && !is_related_playlists_empty")
                            +empty_popup()(v-show="related_playlists.length === 0 && is_related_playlists_empty").pb-5
                            button.col-6.col-md-6.col-lg-6.col-xxl-6(type="button" data-bs-toggle="modal" data-bs-target="#playlist-detail-modal" v-for="(upload, index) in related_playlists" )
                                track-item.w-100.h-100(@click.prevent="openRelatedPlaylist(upload._id)" :key="upload._id" :title="upload.name" :img_src="upload.thumbnail_url ?? upload.user.avatar_url" :poster="upload.user" :upload_time="upload.created_at" :show_avatar="true")


            #hidden-play-button-container.position-absolute.top-50.start-50.translate-middle(v-show="is_player_hidden" @click="togglePlay")
                button#hidden-play-button
                    svg#hidden-play-button-icon-play.icon.icon-tabler.icon-tabler-player-play(v-show="!is_playing" xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='0.7' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M7 4v16l13 -8z')
                    svg#hidden-play-button-icon-paused.icon.icon-tabler.icon-tabler-player-pause(v-show="is_playing" xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='0.7' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        rect(x='6' y='5' width='4' height='14' rx='1')
                        rect(x='14' y='5' width='4' height='14' rx='1')
                    span#hidden-play-button-bg

            div(style="height: 300px; display: block;")

            +player(user_info)
        progress-bar(ref="progressbar")

if user_info
    script.
        let user_info = { username : "#{user_info.username}", id : "#{user_info._id}" };
        let use_szurubooru_content = #{use_szurubooru_content};
else
    script.
        let user_info;
        let use_szurubooru_content =#{use_szurubooru_content};

// Bootstrap
script(src="/js/lib/popper.js")
script(src="/js/lib/bootstrap.js")

// Use Socket.io for chat rooms
script(src="/js/lib/socketio.js")

// Autocomplete JS
script(src="/js/lib/autocomplete.js")

// particles.js
script(src="/js/lib/particles.js")

// Vue
script(src="/js/lib/vue.js")
script(src="/js/lib/vuei18n.js")

// Hotkeys.js
script(src="/js/lib/hotkeys.js")

// For Markdown rendering
script(src="/js/lib/marked.min.js")
script(src="/js/lib/purify.min.js")

// Moment.js
script(src="/js/lib/moment.min.js")

script(type='module' src='./js/main.js')
